@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

#onediv{
    background-color: rgb(14, 14, 102);
    color: white;
    padding: 15px;
    position: fixed;
    width:100% ;
    

}

.destaque{
    color: rgb(235, 235, 2);
    font-weight: bold;
}

h1{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
   
}
h2{
   
}

#twodiv{
    background-color: rgb(255, 221, 0);
}

#imagembanco{
   margin-top: 60px;
   margin-left: 20px;
   width: 5%;
}

ul> li{
    display: inline-block;
    padding: 15px;
}

li{
   text-transform: uppercase; 
   font-weight: bold;
    
}

a{     
    font-size: 0.8em;
    text-decoration: none;
}
a:hover{
    font-size: 0.9em;
    transition-duration: .5s;
}

#button{
    padding: 5px;
    margin: 15px;
    background-color: rgb(16, 16, 126);
    color: rgb(243, 236, 236);
    font-weight: bold;
}

#button:hover{
  padding: 6px;
  transition-duration: 0.5s;
}

section#container{
    background: url(img/pexels-sound-on-3756858.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover; /*tamanho,Cobrir*/

}

p#title{
   padding: 20px;
   padding-top: 190px;
   margin-left: 160px;
   margin-bottom: -100px;
   font-size: 2em;
   color: white; 


}

p#title:hover{

    font-size:2.5em;
    transition-duration: 1s;
    color: rgb(245, 109, 12);
}

#consulta_saldo{
    background-color: rgba(255, 255, 255, 0.774);
    width: 50%;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
    border-radius: 5px;
}




